body, html {
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    height: 675px;
    background-color: aqua;
    background-image: url('./assets/fundo.png');
    background-size: contain;
    background-position: center;
}

.header{
    background-color: #000;
    width: 100px;
    height: 50px;
    margin-left: 93%;
    border: 2px solid #c0c0c0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header p{
    font-size: 18px;
    color: #f9f9f9;
    text-align: center;
    text-align: center;
}

.home{
    width: 639px;
    height: 398px;
    margin:138px auto;
}

.btn-container{
    height: 185px;
}


.btn-container button{
    width: 307px;
    height: 68px;
    margin: 6px;
    color: #f9f9f9;
    font-size: 18px;
    background-color: #0063E5;
    border: none;
}

.info{
    text-align: center;
    color: #c0c0c0;
}

#of{
    font-size: 16px;
}

#in{
    font-size: 12px;
}

.logo p{
    font-size: 20px;
    text-align: center;
    color: #f9f9f9;
}